<div class="text-gray-900 bg-gray-200">
    <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>

    <div class="p-4 flex justify-between">
        <h1 class="text-3xl">
            Users
        </h1>
        <%= link_to "Add new", new_post_path, class: "middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">Author</th>
                    <th class="text-left p-3 px-5">Message</th>
                    <th class="text-left p-3 flex px-5 justify-end">Action</th>
                </tr>
                <% @posts.map do |post| %>
                <tr class="border-b hover:bg-orange-100 bg-gray-100">
                    <td class="p-3 px-5"><%= post.author %></td>
                    <td class="p-3 px-5"><%= post.message %></td>
                    <td class="p-3 px-5 flex px-5 justify-end">
                      <%= link_to "View", post_path(post), class: "mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>